<!-- grievance_id.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grievance ID</title>
    <link rel="stylesheet" href="/css/style_ger.css">

</head>
<body>
    <h1>Grievance Submitted Successfully</h1>
    <p>Your Grievance ID is: <%= grievanceId %></p>
    <p>Keep this ID for future reference.</p>
    <a href="/grievance">Submit another grievance</a>
</body>
</html>
