<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Indian Government Portal</title>
    <link rel="stylesheet" href="/css/style1.css" />
  </head>
  <body>
    <header>
      <h1>Welcome to the Indian Government Portal</h1>
      <nav>
        <ul>
          <li id="1"><a href="/login">Sign In</a></li>
          
          <li><a  href="signin.ejs"></a></li>
          
        </ul>
      </nav>
    </header>


    <footer>
      <p>&copy; 2024 Indian Government Portal. All rights reserved.</p>
    </footer>
    <script src="/js/home.js"></script>
  </body>
</html>
