<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Indian Government Portal</title>
    <link rel="stylesheet" href="/css/style1.css" />
  </head>
  <body>
    <header>
      <h1>Welcome to the Indian Government Portal</h1>
      <nav>
        <ul>
          <li id="1"><a href="/login">Sign In</a></li>
          <li><a href="/grievance">Submit Grievance</a></li>
          <li><a href="/grievance/status">Grievance Status</a></li>
          <div class="controls">
            <button class="btn" onclick="increaseFontSize()">
              Increase Font Size
            </button>
            <button class="btn" onclick="decreaseFontSize()">
              Decrease Font Size
            </button>
          </div>
          <li><a  href="signin.ejs"></a></li>
          <li><a href="language">language</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="features">
        <h2>Key Features</h2>
        <ul>
          <li>Submit grievances online</li>
          <li>Track grievance status</li>
          <li>View government initiatives</li>
          <!-- Add more features here -->
        </ul>
      </section>

      <section class="about">
        <h2>About Us</h2>
        <p>
          This portal aims to facilitate efficient grievance redressal and
          promote transparency in governance.
        </p>
        <p>
          For any queries or support, please contact us at
          <a href="mailto:contact@example.com">india-gov@gmail.com</a>.
        </p>
      </section>
    </main>

    <footer>
      <p>&copy; 2024 Indian Government Portal. All rights reserved.</p>
    </footer>
    <script src="/js/home.js"></script>
  </body>
</html>
